{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "Generation": {
      "value": "{{ generation_number }}"
    },
    "StorageAccountName": {
      "value": "{{ server_storage_account }}"
    },
    "VirtualNetworkName": {
      "value": "{{ vm_network_name }}"
    },
    "vmName": {
      "value": "{{ server_name }}"
    },
    "vmSize": {
      "value": "{{ vm_size }}"
    },
    "ImagePublisher": {
      "value": "{{ vm_image_publisher }}"
    },
    "ImageOffer": {
      "value": "{{ vm_image_offer }}"
    },
    "ImageSKU": {
      "value": "{{ vm_image_sku }}"
    },
    "adminUsername": {
      "value": "{{ admin_username }}"
    },
    "adminPassword": {
      "value": "{{ admin_password }}"
    },
    "CustomScriptExtensionFileUris": {
      "value": "https://raw.githubusercontent.com/techraf/azure-template-server-pulling-from-aadsc/master/CustomScript.ps1"
    },
    "CustomScriptExtensionCommandToExecute": {
      "value": "powershell.exe -ExecutionPolicy Unrestricted -File CustomScript.ps1"
    },
    "modulesUrl": {
      "value": "https://github.com/Azure/azure-quickstart-templates/raw/master/dsc-extension-azure-automation-pullserver/UpdateLCMforAAPull.zip"
    },
    "DscExtensionConfigurationFunction": {
      "value": "UpdateLCMforAAPull.ps1\\ConfigureLCMforAAPull"
    },
    "DscExtensionAzureAutomationAccountRegistrationKey": {
      "value": "{{ azure_automation_registration_key }}"
    },
    "DscExtensionAzureAutomationAccountRegistrationUrl": {
      "value": "{{ azure_automation_registration_url }}"
    },
    "DscExtensionNodeConfigurationName": {
      "value": "{{ node_configuration_name }}"
    },
    "DscExtensionConfigurationMode": {
      "value": "ApplyAndMonitor"
    },
    "DscExtensionConfigurationModeFrequencyMins": {
      "value": 15
    },
    "DscExtensionRefreshFrequencyMins": {
      "value": 30
    },
    "DscExtensionRebootNodeIfNeeded": {
      "value": true
    },
    "DscExtensionActionAfterReboot": {
      "value": "ContinueConfiguration"
    },
    "DscExtensionAllowModuleOverwrite": {
      "value": false
    },
    "DscExtensionTimestamp": {
      "value": "{{ timestamp }}"
    }
  }
}
